.navigation {
    height: 50px;
    line-height: 50px;
    background-image: url(../assets/background-dark.png);
    color: white;
    font-size: 1.1em;
}

.navigation > * {
    display: inline-block;
}

.links span, .logout {
    margin: 0px 10px;
    cursor: pointer;
}

.links span:hover, .logout:hover {
    color: rgb(200, 200, 200);
}

.tools {
    float: right;
    height: 50px;
    line-height: 50px;
}